/* Absolute Center Spinner */
/* Transparent Overlay */

.common-popupmodal{
    .popup-header {
        z-index: 999;
        overflow: visible;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .popup-header {
        &:before {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ffffff00;
        }
    }
    .popupmodal{
        background: #fff;
        z-index: 9999;
    }
}