/* Absolute Center Spinner */
/* Transparent Overlay */

.global-loader {
    .loading {
        z-index: 999;
        overflow: visible;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .loading {
        &:before {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}