.formArea {
  width: 400px;
}

.form-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: calc(100vh);
  font-size: 17px;

}

form {
  max-width: 380px;
  width: 100%;
  font-size: 17px;
}

form .form-control {
  font-size: 1.7rem;
  height: 3.7rem;
}

form .btn {
  font-size: 1.7rem;
  height: 3.7rem;
}

.login-container {
  height: 100vh;
  background: #e3e3e3;
  padding: 20px;

  .form-col,
  .content-col {
    padding: 0;
    height: 100%;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
  }

  .content-col {
    background: #5ea6a9;
    color: #ffffff;

    div {
      &.quote {
        max-width: 192px;
        text-align: center;
      }

      &.signup-btn {
        border: 1px solid #fff;
        border-radius: 20px;
        padding: 6px 12px;
        min-width: 120px;
        text-align: center;
        margin-top: 25px;
        text-transform: uppercase;
      }
    }
  }

  .form-col {
    h1 {
      color: #5ea6a9;
    }

    .input-group {
      margin-top: 20px;

      .input-group-prepend {
        border: none;
        align-items: center;
        justify-content: center;
        background: #f5f8f7;
        padding-left: 5px;
      }

      input {
        border: none;
        background: #f5f8f7;
      }
    }

    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      opacity: 0.5;
    }

    ::-moz-placeholder {
      /* Firefox 19+ */
      opacity: 0.5;
    }

    :-ms-input-placeholder {
      /* IE 10+ */
      opacity: 0.5;
    }

    :-moz-placeholder {
      /* Firefox 18- */
      opacity: 0.5;
    }
    div {
      &.signup-btn {
        border: 1px solid #e3e3e3;
        border-radius: 20px;
        padding: 6px 12px;
        min-width: 120px;
        text-align: center;
        background: #5ea6a9;
        max-width: 160px;
        margin: auto;
        margin-top: 25px;
        color: #fff;
        text-transform: uppercase;
      }
    }

  }

  .row {
    height: calc(100vh - 40px);
  }

  .shadow-lg {
    border-radius: 7px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .175) !important;
  }
}