/*  {
    max-width: 1170px;
    margin: auto;
} */
$primary-bg:#f4f7fa;
$primary-gray:#eceff1;
$font-primary:#1f2020;

img {
  max-width: 100%;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 65vw;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

:root {
  --white: $primary-bg;
  --black: #000;
  --bg: #f8f8f8;
  --grey: #999;
  --dark: #1a1a1a;
  --light: #e6e6e6;
  --wrapper: 1000px;
  --blue: #00b0ff;
}

.wrapper {
  position: relative;
  left: 50%;
  width: var(--wrapper);
  height: 800px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.inbox_people {
  float: left;
  height: 100%;
  border: 1px solid var(--light);
  background-color: $primary-bg;
  overflow: hidden;
  width: 25vw;
  border-right: 1px solid #c4c4c4;

  .tab-content {
    height: calc(100vh - 186px);
  }

  .top {
    position: relative;
    width: 100%;
    height: 96px;
    padding: 29px;

    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: 80%;
      height: 1px;
      content: '';
      background-color: var(--light);
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
  }

  input {
    float: left;
    width: calc(100% - 54px);
    height: 42px;
    padding: 0 15px;
    border: 1px solid var(--light);
    background-color: $primary-gray;
    border-radius: 21px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;

    &:focus {
      outline: none;
    }
  }

  a.search {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    margin-left: 10px;
    border: 1px solid var(--light);
    background-color: var(--blue);
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png");
    background-repeat: no-repeat;
    background-position: top 12px left 14px;
    border-radius: 50%;
  }

  .people {
    margin-left: -1px;
    border-right: 1px solid var(--light);
    border-left: 1px solid var(--light);
    width: calc(100% + 2px);

    .person {
      position: relative;
      width: 100%;
      padding: 12px 10% 16px;
      cursor: pointer;
      background-color: $primary-bg;
      float: left;

      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 80%;
        height: 1px;
        content: '';
        background-color: var(--light);
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
      }

      img {
        float: left;
        width: 40px;
        height: 40px;
        margin-right: 12px;
        border-radius: 50%;
      }

      .name {
        font-size: 14px;
        line-height: 22px;
        color: var(--dark);
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 120px);
      }

      .time {
        font-size: 14px;
        position: absolute;
        top: 16px;
        right: 10%;
        padding: 0 0 5px 5px;
        color: var(--grey);
        background-color: $primary-bg;
      }

      .preview {
        font-size: 14px;
        display: inline-block;
        overflow: hidden !important;
        width: 70%;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--grey);
      }

      &.active,
      &:hover {
        margin-top: -1px;
        margin-left: -1px;
        padding-top: 13px;
        border: 0;
        background-color: #ebeff3;
        width: calc(100% + 2px);
        padding-left: calc(10% + 1px);
      }

      &.active span,
      &:hover span {
        // color: var(--white);
        background: transparent;
      }

      &.active:after,
      &:hover:after {
        display: none;
      }
    }
  }
}

.conv_area {
  position: relative;
  float: left;
  width: calc(75vw - 7.1rem);
  height: 100%;

  .top {
    width: 100%;
    height: 47px;
    padding: 15px 29px;
    background-color: $primary-gray;

    span {
      font-size: 15px;
      color: var(--grey);

      .name {
        color: var(--dark);
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
      }
    }
  }

  .chat {
    position: relative;
    /* display: none; */
    overflow: hidden;
    padding: 20px 35px 90px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--light);
    height: calc(100vh - 40px);
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;

    &.active-chat {
      display: block;
      display: flex;

      .bubble {
        transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);

        &:nth-of-type(1) {
          -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
        }

        &:nth-of-type(2) {
          -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
        }

        &:nth-of-type(3) {
          -webkit-animation-duration: 0.45s;
          animation-duration: 0.45s;
        }

        &:nth-of-type(4) {
          -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
        }

        &:nth-of-type(5) {
          -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
        }

        &:nth-of-type(6) {
          -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
        }

        &:nth-of-type(7) {
          -webkit-animation-duration: 1.05s;
          animation-duration: 1.05s;
        }

        &:nth-of-type(8) {
          -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
        }

        &:nth-of-type(9) {
          -webkit-animation-duration: 1.35s;
          animation-duration: 1.35s;
        }

        &:nth-of-type(10) {
          -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
        }
      }
    }
  }

  .write {
    position: absolute;
    bottom: 0px;
    left: 00px;
    height: auto;
    padding-left: 8px;
    border: 1px solid var(--light);
    background-color: $primary-gray;
    width: calc(100% - 0px);
    border-radius: 5px;

    input {
      font-size: 16px;
      float: left;
      width: 347px;
      height: 40px;
      padding: 0 10px;
      color: var(--dark);
      border: 0;
      outline: none;
      background-color: $primary-gray;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
    }

    .write-link {
      &.attach:before {
        display: inline-block;
        width: 20px;
        height: 42px;
        content: '';
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png");
        background-repeat: no-repeat;
        background-position: center;
      }

      &.smiley:before {
        display: inline-block;
        width: 20px;
        height: 42px;
        content: '';
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png");
        background-repeat: no-repeat;
        background-position: center;
      }

      &.send:before {
        display: inline-block;
        width: 20px;
        height: 42px;
        margin-left: 11px;
        content: '';
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;

    &:before {
      position: absolute;
      top: 19px;
      display: block;
      width: 8px;
      height: 6px;
      content: '\00a0';
      -webkit-transform: rotate(29deg) skew(-35deg);
      transform: rotate(29deg) skew(-35deg);
    }

    &.you {
      float: left;
      color: $font-primary;
      background-color: $primary-gray;
      align-self: flex-start;
      -webkit-animation-name: slideFromLeft;
      animation-name: slideFromLeft;
      max-width: 350px;
      // &:before {
      //   left: -3px;
      //   background-color: $primary-gray;
      // }
    }

    &.me {
      float: right;
      color: var(--dark);
      background-color: $primary-bg;
      align-self: flex-end;
      -webkit-animation-name: slideFromRight;
      animation-name: slideFromRight;
      max-width: 350px;
      // &:before {
      //   right: -3px;
      //   background-color: $primary-gray;
      // }
    }
  }

  .you-img {
    padding-right: 5px;
    position: relative;
    top: -10px;
  }

  .me-img {
    padding-left: 5px;
    position: relative;
    top: -10px;
  }

  .chat {
    .msg-headerinfo {
      font-size: small;

      &>div:first-child {
        margin-right: 10px;
      }

      &>div:last-child {
        margin-left: 10px;
      }

      &>div {
        opacity: 0.5;
        font-weight: bold;
      }

      &+div {
        margin-top: 4px;
      }
    }

  }

  .conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;

    span {
      font-size: 14px;
      display: inline-block;
      color: var(--grey);

      &:before,
      &:after {
        position: absolute;
        top: 10px;
        display: inline-block;
        width: 30%;
        height: 1px;
        content: '';
        background-color: var(--light);
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }
  }
}

.write_msg {
  width: calc(100% - 120px);
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
  margin: 0px 10px;
}

@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}


@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}


@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }

  100% {
    margin-right: 0;
    opacity: 1;
  }
}


@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }

  100% {
    margin-right: 0;
    opacity: 1;
  }
}


.write {
  form {
    max-width: 100vw;
    width: 100%;
    margin: 15px 0px 9px;
  }

  button {
    background: none;
    border: none;
    outline: none;

    &:focus {
      background: none;
      border: none;
      outline: none;
    }
  }

  .msg_send_btn {
    img {
      width: 30px;
      position: absolute;
      top: 20px;
      right: 16px;
    }
  }
}

.nav-tabs {
  li {
    flex-wrap: nowrap;
    flex: 1;
    text-align: center;

    &.active {
      border-bottom: 1px solid gray;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: gray;
    }
  }
}

.date-spliter {
  .content {
    display: inline;
    padding: 1px 15px;
    border-radius: 20px;
    color: #384a5c;
    background: #eceff2;
    font-weight: 500;
    font-size: 12px;
  }
}

.react-contextmenu {
  &.react-contextmenu--visible {
    z-index: 99;
    background: #fff;
    font-size: 14px;
    margin: 0;
    padding: 3px 0 4px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    font-family: Lucida Grande;
    font-size: 14px;
    line-height: 15px;  
  }
    &::before {
      display: block;
      position: absolute;
      content: "";
      top: -1px;
      left: -1px;
      bottom: -1px;
      right: -1px;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.125);
      z-index: -1;
    }
    hr {
      border: none;
      height: 1px;
      background: rgba(0, 0, 0, 0.1);
      margin: 6px 1px 5px;
      padding: 0;
    }
    .react-contextmenu-item {
      display: block;
      padding: 0 20px;
      border-top: 1px solid rgba(0, 0, 0, 0);
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      &::after {
        vertical-align: 2px;
        content: attr(label);
      }
      &:hover {
        background: -webkit-linear-gradient(top, #648bf5, #2866f2);
        background: linear-gradient(to bottom, #648bf5 0%, #2866f2 100%);
        border-top: 1px solid #5a82eb;
        border-bottom: 1px solid #1758e7;
        &::after {
          color: #fff;
        }
      }
    }
  }

// .close-icon {
// 	border:1px solid transparent;
// 	background-color: transparent;
// 	display: inline-block;
// 	vertical-align: middle;
//   outline: 0;
//   cursor: pointer;
// }
// .close-icon:after {
// 	content: "X";
// 	display: block;
// 	width: 15px;
// 	height: 15px;
// 	position: absolute;
// 	background-color: #FA9595;
// 	z-index:1;
// 	right: 35px;
// 	top: 0;
// 	bottom: 0;
// 	margin: auto;
// 	padding: 2px;
// 	border-radius: 50%;
// 	text-align: center;
// 	color: white;
// 	font-weight: normal;
// 	font-size: 12px;
// 	box-shadow: 0 0 2px #E50F0F;
// 	cursor: pointer;
// }
// .search-box:not(:valid) ~ .close-icon {
// 	display: none;
// }