.top-right-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 7rem;
  cursor: pointer;
  // background: #fff;
  border-right: 0.2rem solid var(--off-white);
  border-bottom: 0.2rem solid var(--off-white);
}

.header-component {
  & .nav-item {
    margin: 0 auto;
    padding: 0;
  }

  .dropdown-toggle * {
    display: inline-block;
    color: #fff;
    img {
      width: 35px;
      position: absolute;
      left: -35px;
      top: -3px;
      border-radius: 100%;
    }
    .dropdown-toggle::after {
      color: #fff
    }
  }
  .navbar{
    padding: .5rem 1.5rem;
  }
  .nav-item::after {
    color:#fff;
  }

  &>div {
    width: 100%;
  }

  .navbar {
    font-size: 14px;
  }

  .dropdown-menu {
    font-size: 13px;
  }

  .bg-light{
    background-color: #3f51b5bd !important;

    .navbar-light .navbar-nav .nav-link {
      color: white;
    }
  }
  .nav-item:hover {
    background-color:transparent
  }
}