.main {
  width: 100vw;
  min-height: 100vh;
}

.topbar {
  width: 100%;
  height: 6.5rem;
  position: fixed;
}

.sidebar {
  width: 7rem;
  height: 100%;
}
.container-component {
  padding-top: 3rem;
  margin-left: 7rem;
  width: calc(100vw - 7rem);
  height: 100vh;
  display: flex;
  position: fixed;
}
.header-component{
  width: 100vw;
  height: 4rem;;
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
}
.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5rem;
  background: var(--blue);
  color: #fff;
  outline: none;
  cursor: pointer;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

@media (max-width: 900px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 765px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 630px) {
  * {
    visibility: hidden;
  }
  .no-view {
    padding: 2rem;
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
}
::-webkit-scrollbar {display:none;}
.app-container{
  width: 100%;
}
/* Button*/

/* Mixins */
@mixin gradientBg($startColor, $endColor) {
	background: $startColor;
	background: -moz-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
	background: -webkit-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
	background: linear-gradient(to right,  $startColor 0%, $endColor 80%,$endColor 100%);
}

/* bg shortcodes */
.bg-gradient1 span,
.bg-gradient1:before {
	@include gradientBg(#52A0FD, #00e2fa);
}
.bg-gradient2 span,
.bg-gradient2:before {
	@include gradientBg(#44ea76, #39fad7);
}
.bg-gradient3 span,
.bg-gradient3:before {
	@include gradientBg(#fa6c9f, #ffe140);
}

/* General */
.wrapper {
  	margin: 5% auto;
	text-align: center;
	transform-style: perserve-3d;
	perspecive: 800px;
}
a {
	text-decoration: none;
  
	&:hover,
	&:focus,
	&:active {
	  text-decoration: none;
  }
}

/* fancy Button */
.fancy-button {
	display: inline-block;
	margin: 30px;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 17px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	position: relative;
	
	&:before {
		content: '';
		display: inline-block;
		height: 40px;
		position: absolute;
		bottom: -5px;
		left: 30px;
		right: 30px;
		z-index: -1;
		border-radius: 30em;
		filter: blur(20px) brightness(0.95);
		transform-style: preserve-3d;
		transition: all 0.3s ease-out;
	}
	i {
		margin-top: -1px;
		margin-right: 20px;
		font-size: 1.265em;
		vertical-align: middle;
	}
	span {
		display: inline-block;
		padding: 10px 20px;
		border-radius: 50em;
		position: relative;
		z-index: 2;
		will-change: transform, filter;
		transform-style: preserve-3d;
		transition: all 0.3s ease-out;
	}
	&:focus,
	&:active {
		color: #ffffff;
	}
	&:hover {
		color: #ffffff;
		
		span {
			filter: brightness(1.05) contrast(1.05);
			transform: scale(0.95);
		}
		&:before {
			bottom: 0;
			filter: blur(10px) brightness(0.95);
		}
	}
	&.pop-onhover {
		
		&:before {
			opacity: 0;
			bottom: 10px;
		}
		&:hover {
			
			&:before {
				bottom: -7px;
				opacity: 1;
				filter: blur(20px);
			}
			span {
				transform: scale(1.04);
			}
			&:active {
				
				span {
					filter: brightness(1) contrast(1);
					transform: scale(1);
					transition: all 0.15s ease-out;
				}
				&:before {
					bottom: 0;
					filter: blur(10px) brightness(0.95);
					transition: all 0.2s ease-out;
				}
			}
		}
	}
}


// <a href="#" class="fancy-button bg-gradient1"><span><i class="fa fa-wheelchair-alt"></i>Follow Me</span></a>