body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --off-white: #f6f6f6;
  --off-white2: #f9f9f9;
  --black: #444;
  --light-black: #95959f;
  --light-black2: #c0c0c0;
  --blue: #1976d2;
}

html {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  color: var(--black);
  background-color: #fff;
  overflow-x: hidden;
}

.material-icons.icons-fix {
  vertical-align: text-bottom;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 1rem;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  outline: 1px solid slategrey;
}