
.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5rem;
  background: var(--blue);
  color: #fff;
  outline: none;
  cursor: pointer;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

@media (max-width: 900px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 765px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 630px) {
  * {
    visibility: hidden;
  }
  .no-view {
    padding: 2rem;
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
}

.bar {
  position: fixed;
  border-right: 0.2rem solid var(--off-white);
  height: 100vh;
  width: 7rem;
}


.nav-container {
  margin: 4rem 0;
}

.nav-item {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 0; 
  margin: 1.2rem 0;
  color: var(--light-black);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover, .nav-item.active{
  background-color: var(--off-white);
  color: var(--black);
}

.nav-item > .largeIcon {
  font-size: 2.8rem;
}

.navItemSelected {
  color: var(--blue);
  border-right: 0.2rem solid var(--blue);
}
